
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.map-sidebar {
  background-color: #FAF9F6;
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  z-index: 99999999999999999999;
  overflow-y: scroll;
  font-family: "Inter", sans-serif;
}



.map-input-div {
  margin: 0 auto;
  margin-top: 80px;

  background-color: #d8d8d89b;
  width: 93%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  gap: 5px;



}

.searchInput {
  width: 100%;
  height: 40px;

  border: none;
  background-color:transparent;
  border-radius: 5px;



}

.map-display-info {
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.132);
  width: 95%;
  height: 300px;
  border: solid 1px rgba(0, 0, 0, 0.105);
  border-radius: 5px;
  overflow-y: auto;
}

.display-button-div {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;


}

.display-information {
  width: 80%;
  margin: 0 auto;
}

.data-card {
  gap: 1100px;
  width:100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #CC7722;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;

}


.map-page-buttons {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.map-page-buttons button {
  background-color: black;
  height: 40px;
  border-radius: 60%;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.map-page-buttons button:hover {
  scale: 1.1;
  transition: all ease-in-out 0.3s;

}

.map-page-buttons button:active {
  scale: 0.9;
  transition: all ease-in-out 0.05s;

}

.map-page-buttons input {
  height: 40px;
  width: 120px;
  padding-left: 10px;
  border: none  ;

  border-radius: 10px
}



.display-cards-grid {
  margin-top: 40px;
  display: grid ;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 100%;

}

.crime-card {
  width: 60px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgba(0, 0, 0, 0.158);
  background-color: #ffffff17;
  padding: 10px;
  cursor:pointer;

  transition: all ease-in-out 0.3s;
}

.crime-card:hover {
  transition: all ease-in-out 0.3s;
  opacity: 0.5;
}


