@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nothing+You+Could+Do&display=swap');


.home {

}

.home-text-div {
    margin: 0 auto;
    margin-top: 100px;
    width: 900px;
}

.title {
    font-size: 40px;
    text-align: center;
  font-family: "Nothing You Could Do", cursive;
          font-weight: 900;


}

.caption1 {
    text-align: center;
    font-size: 22px;
      font-family: "Inter", sans-serif;
      font-weight: 300;

}

.caption2 {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
      font-family: "Inter", sans-serif;
      font-weight: 200;
      line-height: 1.5;
      max-width: 800px;

}

.home-button-div {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.get-started-btn {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.signup-btn {
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.home-worldmap {
    display: block;
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}

