@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nothing+You+Could+Do&display=swap');

.home {
    padding-bottom: 60px;
}

.home-text-div {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 900px;
    width: 100%;

}

.title {
  font-size: clamp(24px, 5vw, 40px);
    text-align: center;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 900;


}

.caption1 {
    text-align: center;
      font-size: clamp(12px, 5vw, 22px);

    font-family: "Inter", sans-serif;
    font-weight: 300;

}

.caption2 {
    margin: 0 auto;
    text-align: center;
      font-size: clamp(8px, 5vw, 16px);
    font-family: "Inter", sans-serif;
    font-weight: 200;
    line-height: 1.5;
    max-width: 800px;

}

.home-button-div {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}

.get-started-btn {
    width: 120px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 200;


}

.signup-btn {
    width: 120px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 200;


}

.topic-wrapper {
    background-color: blue;
    width: 100%;
    margin: 0 auto;
}

.home-topics {
    max-width: 920px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 10px;
    margin-top: 60px;
}

.topic1 {
    background-color: rgb(135, 132, 129);
    text-align: center;
    height: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    border: none;
}

.active {
    background-color: rgb(236, 111, 28);

}

.topic1:hover {
    scale: 1.04;
}

.topic1 h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;


}

.home-image-div {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: red;
    margin: 50px auto 0;    /* top 50px, horizontal auto centers, bottom 0 */



}

.home-worldmap {
    width: 100%;


}

@media screen and (max-width:1062px) {

    
}




/*These are all the pins, just ignore them*/
.map-pin {
    position: absolute;
    color: rgb(255, 111, 0);
    

  
}


.crime-pin1 {
    top: 30%;
    left: 50%;
      animation: fadeIn 0.5s ease-out forwards;
      color: white;
      background-color: wheat;

}

.crime-pin2 {
    top: 30%;
    left: 50%;
      animation: fadeIn 0.6s ease-out forwards;

}

.crime-pin3 {
    top: 440px;
    left: 225px;
      animation: fadeIn 0.7s ease-out forwards;

}

.crime-pin4 {
    top: 263px;
    left: 410px;
      animation: fadeIn 0.8s ease-out forwards;

}

.crime-pin5 {
    top: 291px;
    left: 510px;
      animation: fadeIn 0.9s ease-out forwards;

}

.crime-pin6 {
    top: 330px;
    left: 550px;
      animation: fadeIn 1s ease-out forwards;

}

.crime-pin7 {
    top: 480px;
    left: 600px;
      animation: fadeIn 1.5s ease-out forwards;

}

.fbi-pin1 {
    top: 310px;
    left: 185px;
          animation: fadeIn 0.5s ease-out forwards;

}

.fbi-pin2 {
    top: 225px;
    left: 100px;
          animation: fadeIn 0.6s ease-out forwards;

}

.fbi-pin3 {
    top: 270px;
    left: 430px;
          animation: fadeIn 0.7s ease-out forwards;

}

.fbi-pin4 {
    top: 350px;
    left: 570px;
          animation: fadeIn 0.8s ease-out forwards;

}

.ev-pin1 {
    top: 450px;
    left: 290px;
          animation: fadeIn 0.1s ease-out forwards;

}

.ev-pin2 {
    top: 330px;
    left: 550px;
          animation: fadeIn 0.6s ease-out forwards;

}

.ev-pin3 {
    top: 495px;
    left: 700px;
          animation: fadeIn 0.7s ease-out forwards;

}

.weather-pin1 {
    top: 220px;
    left: 100px;
          animation: fadeIn 0.8s ease-out forwards;

}

.weather-pin2 {
    top: 290px;
    left: 200px;
          animation: fadeIn 0.9s ease-out forwards;

}

.weather-pin3 {
    top: 260px;
    left: 420px;
    animation: fadeIn 1.5s ease-out forwards;

    
}

.weather-pin4 {
    top: 340px;
    left: 580px;
        animation: fadeIn 0.5s ease-out forwards;

}



/*I am going to add some keyframes animations here*/

@keyframes fadeIn {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

