@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home {
    padding-bottom: 60px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.home-text-div {
    margin: 0 auto;
    margin-top: 140px;
    max-width: 900px;
    width: 100%;

}

.title {
    font-size: clamp(24px, 5vw, 60px);
    text-align: center;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 900;


}

.caption1 {
    text-align: center;
    font-size: clamp(12px, 2vw, 25px);

    font-family: "Inter", sans-serif;
    font-weight: 300;

}

.caption2 {
    margin: 0 auto;
    text-align: center;
    font-size: clamp(8px, 1.2vw, 18px);
    font-family: "Inter", sans-serif;
    font-weight: 200;
    line-height: 1.5;
    max-width: 900px;

}

.home-button-div {
    display: flex;
    justify-content: space-evenly;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 40px;
}

.get-started-btn {
    width: 200px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    
    font-weight: 200;
cursor:pointer;

}

.signup-btn {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    font-size: clamp(12px, 2vw, 18px);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    font-weight: 200;
cursor:pointer;

}

.topic-wrapper {
    background-color: blue;
    width: 100%;
    margin: 0 auto;
}

.home-topics {
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 10px;
    margin-top: 60px;
}

.topic1 {
    background-color: rgb(135, 132, 129);
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    border: none;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.activeTopic {
    background-color: rgb(236, 111, 28);
}



.topic1:hover {
    scale: 1.04;
}

.topic1 h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: clamp(9px, 3vw, 15px);


}

.home-image-div {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
margin-top: 50px


}

.home-worldmap {
    width: 100%;


}

@media screen and (max-width:1062px) {}




/*These are all the pins, just ignore them*/
.map-pin {
    position: absolute;
    color: rgb(255, 111, 0);



}


.crime-pin1 {
    top: 34%;
    left: 15%;
    animation: fadeIn 0.5s ease-out forwards;

}

.crime-pin2 {
    top: 50%;
    left: 20%;
    animation: fadeIn 0.6s ease-out forwards;

}

.crime-pin3 {
    top: 72%;
    left: 33%;
    animation: fadeIn 1.7s ease-out forwards;

}

.crime-pin4 {
    top: 30%;
    left: 70%;
    animation: fadeIn 0.8s ease-out forwards;

}

.crime-pin5 {
    top: 61%;
    left: 49%;
    animation: fadeIn 0.9s ease-out forwards;

}

.fbi-pin1 {
    top: 72%;
    left: 33%;
    animation: fadeIn 1.7s ease-out forwards;
    animation: fadeIn 0.5s ease-out forwards;

}

.fbi-pin2 {
    top: 61%;
    left: 49%;
    animation: fadeIn 0.6s ease-out forwards;

}

.fbi-pin3 {
    top: 50%;
    left: 20%;
    animation: fadeIn 0.7s ease-out forwards;

}

.fbi-pin4 {
    top: 78%;
    left: 85%;
    animation: fadeIn 0.8s ease-out forwards;

}


.ev-pin1 {
    top: 30%;
    left: 28%;
    animation: fadeIn 0.1s ease-out forwards;
}


.ev-pin2 {
    top: 50%;
    left: 16%;
    animation: fadeIn 0.6s ease-out forwards;

}

.ev-pin3 {
    top: 30%;
    left: 80%;
    animation: fadeIn 0.7s ease-out forwards;

}


.weather-pin1 {
    top: 30%;
    left: 5%;
    animation: fadeIn 0.8s ease-out forwards;
}

.weather-pin2 {
    top:50%;
    left: 18%;
    animation: fadeIn 0.9s ease-out forwards;
}

.weather-pin3 {
    top: 22%;
    left: 35%;
    animation: fadeIn 1.5s ease-out forwards;
}

.weather-pin4 {
    top: 35%;
    left: 63%;
    animation: fadeIn 0.5s ease-out forwards;
}

/* I am going to work on some media queries here*/

@media screen and (max-width: 768px) {
  .home-topics {
    grid-template-columns: 1fr 1fr;
  }

  .topic1 {
    box-shadow: none;
    width: 90%;
    margin: 0 auto;
  }

  .home-topics {
  grid-template-columns: 1fr;
  }

  .get-started-btn {
    width: 150px;
  }

  .signup-btn {
    width: 150px;
  }

  .map-pin {
    width: 20px;
  }


}



/*I am going to add some keyframes animations here*/

@keyframes fadeIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
