.map-sidebar {
  background-color: #FAF9F6;
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  z-index: 1;
  overflow-y: scroll; 

}



.map-input-div {
  margin: 0 auto;
    margin-top: 80px;

  background-color: #d8d8d89b;
  width: 93%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    gap: 5px;



}

.searchInput {
  width: 100%;
      height: 40px;

border: none;
  background-color:transparent;
  border-radius: 5px;



}

.map-display-info {
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.132);
  width: 95%;
  height: 300px;
  border: solid 1px rgba(0, 0, 0, 0.105);
  border-radius: 5px;
}

.display-button-div {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin: 0 auto;
    margin-top: 10px;


}


.map-page-buttons {
  display: flex;
  width: 300px;
  margin: 0 auto;
    margin-top: 20px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.map-page-buttons button {
  background-color: black;
  height: 40px;
  border-radius: 60%;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.map-page-buttons button:hover {
  scale: 1.1;
  transition: all ease-in-out 0.3s;

}

.map-page-buttons button:active {
  scale: 0.9;
    transition: all ease-in-out 0.05s;

}



.display-cards-grid {
  margin-top: 40px;
  display: grid ;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 100%;

}

.crime-card {
  width: 60px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgba(0, 0, 0, 0.158);
  border-bottom: solid 1px rgba(0, 0, 0, 0.158);
  background-color: #ffffff17;
  padding: 10px;
  

}



