.map-sidebar {
  padding-top: 65px;
  background-color: #FAF9F6;
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100vh;
  z-index: 1;
    overflow-y: auto;


}

.map-input-div {
  margin: 0 auto;
    margin-top: 20px;

  background-color: #d8d8d89b;
  width: 93%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    gap: 5px;



}

.searchInput {
  width: 100%;
      height: 40px;

border: none;
  background-color:transparent;
  border-radius: 5px;



}

.map-display-info {
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.132);
  width: 95%;
  height: 300px;
  border: solid 1px rgba(0, 0, 0, 0.105);
  border-radius: 5px;
}

.display-cards-grid {
  margin-top: 40px;
  display: grid ;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 100%;
  background-color:red;
}

.crime-card {
  width: 60px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgba(0, 0, 0, 0.158);
  border-bottom: solid 1px rgba(0, 0, 0, 0.158);
  background-color: #ffffffc5;
  padding: 10px;

}



