.crime-card-subject {
  background-color: red;
}

.crime-card-subject h1 {
  font-size: 16px;
}

.crime-card-subject p {
  font-size: 14px;
}

.crime-card-date {
  background-color: green;
}

.crime-card-date p {
  background-color: green;
    font-size: 12px;

}
